
body {
    font-family: 'Roboto', sans-serif;
}


/*--------------------Section Container--------------------*/

section {
    background-color: #0093E9;
    background-image: linear-gradient(104deg, #0093E9 48%, #80D0C7 100%);
    
}

#section-container {
    padding: 10% 12%;
}

.main-image {
    transform: rotate(-30deg);
    padding: 0px;

}

.main-heading {
    font-weight: 900;
    font-size: 3rem;
}

.section-text {
    font-size: 0.9rem;
    font-weight: 300;
}

.section-button {
    font-size: 1rem;
    font-weight: 500;
}

@media only screen and (max-width: 992px) {
    .main-image {
        transform: rotate(0);
        
    }
    
    #section-container {
        text-align: center;
        padding: 0%;

    }

    .section-image {
        margin-top: 20px;
    }

    .main-heading {
        font-size: 2rem;
    }

    .section-button {
        font-size: 0.8rem;

    }
}    

/* ---------------------Pricing Container---------------------  */

#services-container {
    padding: 5% 6%;
    color: gray;
}

.services-content-heading {
    font-weight: 800;
    font-size: 2.5rem;
    color: black;
}

.services-content-text {
    font-weight: 400;
    font-size: 0.9rem;
}

.service-heading {
    font-weight: 800;
    font-size: 1.2rem;
    color: black;
}

.service-text {
    font-weight: 400;
    font-size: 0.9rem;
}

.icon {
    color: gray;
}
.hexagon {
    position: relative;
    width: 95px;
    height: 50.70px;
    margin: 54.85px auto;
    border-left: solid 2px gray;
    border-right: solid 2px gray;
 }

 .hexagon:before,
 .hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 67.35px;
    height: 66.35px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 8.8249px;
 }
 .hexagon:before {
    top: -33.1751px;
    border-top: solid 2px gray;
    border-right: solid 2px gray;
    margin-left: 4px;
    margin-top: 1px;
 }
 .hexagon:after {
    bottom: -33.1751px;
    border-bottom: solid 2px gray;
    border-left: solid 2px gray;
    margin-left: 4px;
    margin-bottom: 1px;
 }
 *,*:before,*:after {
    box-sizing:border-box;
 }

 #services-second-container {
    height: 1000px;
    background-color: lightpink;
 }